@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.otf') format('otf'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.otf') format('otf'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/poppins-medium-webfont.eot');
    src: url('fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('fonts/poppins-medium-webfont.woff') format('woff'),
        url('fonts/poppins-medium-webfont.ttf') format('truetype'),
        url('fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/poppins-bold-webfont.eot');
    src: url('fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('fonts/poppins-bold-webfont.woff') format('woff'),
        url('fonts/poppins-bold-webfont.ttf') format('truetype'),
        url('fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
}


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #1C1B21;
}

#cnt-nav,
#cnt-1-2,
#cnt-1-3-Sliders,
#cnt-audio,
#cnt-2,
#cnt-3,
#cnt-4,
#cnt-5,
#cnt-6,
#cnt-6-devices {
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
}

#cnt-for-buttons {
    margin-left: auto;
    margin-right: auto;
    width: 1270px;
}

#cnt-1 {
    background: linear-gradient(180deg, rgba(170, 143, 143, 0) 100%, #1C1B21 100%), url("photo/cnt-1-background.jpg");
    /* background-size: cover; */
    background-position: top;
    background-repeat: no-repeat;
}

#cnt-nav {
    display: flex;
    justify-content: center;
}

#cnt-nav-2 {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    height: 25px;
    padding-left: 12px;
    padding-right: 12px;
}

.cnt-nav-2-1,
.cnt-nav-2-1-1 {
    display: flex;
    flex-direction: column;
}

.navMenu,
.cnt-nav-2-1-1 {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.navMenu:hover {
    -webkit-text-fill-color: #FFFFFF;
    -webkit-text-stroke: 0.5px black;
}

.cnt-nav-2-1-1 {
    position: absolute;
    margin-top: 25px;
}

.cnt-nav-2-1-1 a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 25px;
    font-size: 14px;
}

.cnt-nav-2-1-1 {
    display: none;
}

.logoDiv {
    display: flex;
}

.logo {
    margin-top: 30px;
    margin-right: 20px;
}

.websiteName {
    height: 42px;
    margin-top: 42px;
    margin-right: 20px;
}

#cnt-1-2 {
    margin-top: 360px;
}

#cnt-1-2 h3 {
    color: white;
    font-size: 48px;
    font-family: 'Poppins-Bold';
}

#cnt-1-2 h1 {
    font-size: 100px;
    font-family: 'Poppins-Bold';
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.4px white;
    margin-top: 35px;
    line-height: 100px;
}

#cnt-audio {
    text-align: center;
    margin: 25px auto 70px auto;
    width: 800px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio_btn {
    display: flex;
}

.audio_btn:nth-child(1),
.audio_btn:nth-child(2) {
    cursor: pointer;
}

.audio_container {
    height: 4px;
    width: 700px;
    position: relative;
    overflow-x: hidden;
    left: 0;
}

#cnt-audio audio {
    height: 4px;
    width: 850px;
    position: absolute;
    top: 0;
    left: 0;
}

audio::-webkit-media-controls-panel {
    height: 4px;
    margin-bottom: 1px;
    position: relative;
    right: 28px;
}

/* audio::-webkit-media-controls-play-button {} */

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-timeline-container {
    background: #947df0;
}


audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
    appearance: none;
    -webkit-appearance: none;
}



#cnt-1-3-Sliders {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 180px;
}

.slider {
    width: 350px;
    height: 300px;
    border-radius: 23px 0px;
    display: flex;
    align-items: flex-end;
}

.slider1 {
    background: url(photo/slider1.jpg);
}

.slider2 {
    background: url(photo/slider2.jpg);
}

.slider3 {
    background: url(photo/slider3.jpg);
}

.slider-capture {
    height: 90px;
    border-radius: 23px 0px;
    background-color: rgb(122, 102, 204, 0.7);
    /*opacity 0.7 on rgb*/
    width: 350px;
}

.slider-capture p {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    line-height: 24px;
    padding: 21px 20px 21px 20px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

#cnt-2 {
    margin-top: 180px;
    display: flex;
    justify-content: flex-start;
}

#cnt-2-left {
    width: 540px;
}

#cnt-2-right {
    width: 560px;
    /* border: 1px solid red; */
    position: relative;
}

#cnt-2-left {
    display: flex;
    flex-direction: column;
}

#cnt-2-left-1,
#cnt-4-right-1 {
    display: inline-flex;
}

#cnt-2-left-1 img,
#cnt-4-right-1 img {
    width: 64px;
    height: 31px;
}

#cnt-2-left-1 p,
#cnt-4-right-1 p {
    font-family: 'Poppins-Bold';
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    bottom: 19px;
    position: relative;
    left: 20px;
}

#cnt-2-left-2 {
    margin-top: 41px;
}

#cnt-2-left-2 p {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
}

#cnt-2-left-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 60px;
}

.box {
    width: 30px;
    height: 30px;
    background: #7A66CC;
    border-radius: 10px 0px;
}

.cnt-2-left-3-comments {
    display: inline-flex;
}

.cnt-2-left-3-comments p {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    position: relative;
    left: 20px;
}

.cnt-2-right-img {
    border-radius: 30px 0px;
    position: absolute;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* float: right; */
    right: 0px;
    top: 108px;
}

#cnt-2-right-img-absolute {
    position: absolute;
    top: 42px;
    right: 95px;
}

#cnt-3 {
    margin-top: 153px;
    position: relative;
}

#cnt-3-main {
    padding-left: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 30px 0px;
}

#cnt-3-main-1 {
    background: url(photo/quotes.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 520px;
}

#cnt-3-main-1 p {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

#line {
    width: 520px;
    opacity: 0.6;
    background-color: #fff;
    height: 1px;
    margin-top: 25px;
}

#link {
    margin-top: 25px;
    margin-bottom: 50px;
}

#link a {
    font-family: 'Poppins-Bold';
    font-size: 18px;
    line-height: 27px;
    color: #7A66CC;
}

#link a:hover {
    color: #947df0;
}

#cnt-3-main-photo {
    background: url(photo/cnt-3-main-photo.png);
    width: 370px;
    height: 483px;
    position: absolute;
    right: 80px;
    top: -85px;
}

#cnt-4 {
    margin-top: 265px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#cnt-4-left {
    border: 18px solid rgb(122, 102, 204, 0.3);
    border-radius: 50%;
    width: 470px;
    height: 470px;
}

#cnt-4-left-circlePhoto {
    width: 434px;
    height: 434px;
    background: url(photo/circlePhoto.png);
    background-repeat: no-repeat;
    border: 18px solid rgb(122, 102, 204, 0.6);
    border-radius: 50%;
}

#cnt-4-right-3 {
    display: flex;
    justify-content: flex-start;
}

#cnt-4-right-3-1 p {
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-right: 40px;
}

.cnt-4-right-3-icons {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
}

.cnt-4-right-3-icons img {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-right: 10px;
}

.cnt-4-right-3-icons a {
    align-self: center;
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

#audio-player {
    margin-left: 25px;
    width: fit-content;
}

#audio-player ul {
    list-style: decimal-leading-zero;
    color: #fff;
    margin: 80px 0;
}

#audio-player ul li {
    margin: 25px 0;
    position: relative;
}

.audio_container_2 {
    display: flex;
    align-items: center;
}

#audio-player ul li .audio_container_2 .audio_btn,
.songs_name {
    position: relative;
    top: 6px;
}

li::marker {
    font-size: 15px;
    color: #7c7676;
}

.songs_name {
    font-size: 18px;
    font-family: 'Poppins-Medium';
}

#cnt-5 {
    margin-top: 180px;
    display: grid;
    grid-template-areas: "img1 img2 img3 img4""img1 imgMid imgMid img4";
    gap: 30px;
    justify-items: center;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.imgMid {
    grid-area: imgMid;
    position: relative;
    text-align: center;
}

.imgMid p {
    bottom: 50%;
    position: relative;
    font-family: 'Poppins-Bold';
    font-size: 24px;
    line-height: 36px;
    color: #7A66CC;
}

.img1,
.img2,
.img3,
.img4 {
    width: 255px;
}

.img1 img,
.img2 img,
.img3 img,
.img4 img {
    width: 255px;
}

#cnt-for-buttons {
    display: flex;
    margin-top: 180px;
    align-items: center;
}

.arrow-btn {
    width: 40px;
    height: 60px;
    cursor: pointer;
    transition: linear 0.6s;
}

.arrow-btn:hover {
    transform: rotateX(180deg);
}

#arrow-btn-left {
    background: url(photo/cnt-for-buttons-arrowLeft.png);
}

#arrow-btn-right {
    background: url(photo/cnt-for-buttons-arrowRight.png);
}

#cnt-6 {
    display: flex;
    justify-content: space-between;
}

.main-sliders,
.main-sliders-devices {
    background: #2F2B2B;
    border-radius: 30px 0px;
    width: 350px;
    height: 473px;
    /* margin-bottom: 50px; */
}

.main-sliders-photo {
    width: 100%;
    height: 59.2%;
}

.sliders-photo1 {
    background: url(photo/cnt-6-sliderPhoto1.jpg);
}

.sliders-photo2 {
    background: url(photo/cnt-6-sliderPhoto2.png);
}

.sliders-photo3 {
    background: url(photo/cnt-6-sliderPhoto3.png);
}

.sliders-photo4 {
    background: url(photo/cnt-6-sliderPhoto4.png);
}

.sliders-photo5 {
    background: url(photo/cnt-6-sliderPhoto5.jpg);
}

.main-sliders-info {
    margin-top: 30px;
    margin-left: 35px;
    height: 15.64%;
}

.main-sliders-info-town {
    font-family: 'Poppins-Bold';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.main-sliders-info-club {
    margin-top: 20px;
    font-family: 'Poppins-Medium';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.main-sliders-tickets {
    display: flex;
    margin-top: 8%;
    width: 100%;
    height: 12.68%;
}

.main-sliders-tickets-date {
    display: flex;
    align-items: center;
    width: 48.6%;
    height: 100%;
}

.main-sliders-tickets-date p {
    font-family: 'Poppins-Bold';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
}

.main-sliders-tickets-buy {
    width: 51.4%;
    height: 100%;
    background: #7A66CC;
    border-radius: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sliders-tickets-buy a {
    font-family: 'Poppins-Bold';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#cnt-6-devices {
    display: none;
}

#cnt-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    width: 535px;
    margin-left: auto;
    margin-right: auto;
}

.logoDiv2 {
    margin-right: auto;
    margin-left: auto;
}

#artist-info {
    margin-top: 90px;
    display: flex;
}

#artist-bold {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#artist-regular {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.artist-p-bold {
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
}

.artist-p-regular {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 30px;
}

#artist-info-for-devices {
    display: none;
}

#social-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.social-links2 {
    background-color: #7A66CC;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 8px solid #2C2C2C;
    display: flex;
    align-items: center;
}

.social-links2:hover {
    background-color: #947df0;
}

.social-links2 img {
    margin: 0 auto;
    display: block;
}

#sign {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 40px;
}

#sign p {
    font-family: 'Poppins-Bold';
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}

#sign a {
    text-decoration: underline;
    color: #FFFFFF;
    opacity: 0.5
}

#menu-for-devices {
    display: none;
}

.popup {
    display: none;
}

.hide {
    display: none;
}


@media (max-width:1300px) {

    .main-sliders {
        display: none;
    }

    #cnt-6 {
        margin-left: auto;
        margin-right: auto;
    }

    #cnt-for-buttons {
        width: 600px;
    }

    #cnt-6 {
        display: none;
    }

    #cnt-6-devices {
        display: flex;
        justify-content: center;
        width: 350px;
    }


}

@media (max-width:1130px) {
    #cnt-nav {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .logoDiv {
        margin-left: auto;
        margin-right: auto;
    }

    .websiteName {
        margin-right: 0px;
    }

    #cnt-1-2,
    #cnt-1-3-Sliders,
    #cnt-2,
    #cnt-3,
    #cnt-4,
    #cnt-5 {
        width: auto;
    }


    #cnt-1-3-Sliders {
        justify-content: center;
        position: relative;
        margin-top: 90px;
    }

    .slider {
        margin: 30px 15px 0px 15px;
    }

    #cnt-2 {
        display: flex;
        flex-direction: column;
    }

    #cnt-2-left,
    #cnt-2-right,
    #cnt-4-left,
    #cnt-4-right {
        margin-left: auto;
        margin-right: auto;
    }

    .cnt-2-right-img {
        right: 57.5px;
    }

    #cnt-2-right-img-absolute {
        top: 42px;
        left: 57.5px;
    }

    #cnt-3 {
        margin-top: 619px;
        display: grid;
        grid-template-columns: 1fr 370px;
        gap: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #cnt-3-main {
        align-self: center;
    }

    #cnt-3-main-1,
    #line {
        width: auto;
    }

    #cnt-3-main-photo {
        position: relative;
        float: right;
        right: 0px;
        top: 0px;
    }

    #cnt-4 {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    #cnt-4-left,
    #cnt-4-right {
        margin-top: 50px;
    }

    #audio-player ul {
        margin: 15px 0;
    }


    #cnt-5 {
        margin-top: 70px;
        display: grid;
        grid-template-areas: "img2 img3""img1 img4""imgMid imgMid";
        gap: 20px;
        width: 530px;
    }

    .imgMid img {
        width: 530px;
    }

    .imgMid {
        width: 530px;
    }

    #cnt-for-buttons {
        margin-top: 30px;
    }

    #cnt-6-devices {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }

    #cnt-for-buttons {
        width: 280px;
    }

    .arrow-btn {
        width: 15px;
        height: 22.5px;
    }

    #arrow-btn-left {
        background-size: cover;
    }

    #arrow-btn-right {
        background-size: cover;
    }

    #cnt-6-devices {
        display: flex;
        justify-content: center;
    }

    .main-sliders-devices {
        width: 250px;
        height: 337px;
    }

    .sliders-photo2,
    .sliders-photo3,
    .sliders-photo4,
    .sliders-photo1,
    .sliders-photo5 {
        background-position: center;
        background-size: cover;
    }

    .main-sliders-info {
        margin-top: 5px;
        margin-left: 10px;
        height: 15, 64%;
    }

    .main-sliders-info-town {
        font-size: 16px;
        line-height: 25px;
    }

    .main-sliders-info-club {
        margin-top: 5px;
        font-size: 16px;
        line-height: 25px;
    }

    .main-sliders-tickets {
        margin-top: 14.5%;
    }


    .main-sliders-tickets-date p {
        font-size: 14px;
        line-height: 22px;
    }

    .main-sliders-tickets-buy a {
        font-size: 14px;
        line-height: 22px;
    }

    #cnt-7 {
        margin-top: 40px;
    }

    #artist-info {
        margin-top: 60px;
    }

    #social-links {
        margin-top: 30px;
    }

}

@media(max-width:800px) {

    #cnt-audio {
        width: 500px;
    }

    .audio_container {
        width: 400px;
        position: relative;
        overflow-x: hidden;
        left: 0;
    }

    #cnt-audio audio {
        width: 550px;
        position: absolute;
        top: 0;
        left: 0;
    }

    audio::-webkit-media-controls-panel {
        height: 4px;
        margin-bottom: 1px;
        position: relative;
        right: 28px;
    }


}

@media (max-width:730px) {
    #cnt-1-2 h3 {
        color: white;
        font-size: 38px;
        font-family: 'Poppins-Bold';
    }

    #cnt-1-2 h1 {
        font-size: 80px;
        font-family: 'Poppins-Bold';
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0.4px white;
        margin-top: 30px;
        line-height: 80px;
    }

    #cnt-3 {
        display: grid;
        grid-template-columns: 1fr 250px;
        gap: 30px;
    }

    #cnt-3-main {
        padding-left: 5px;
    }

    #cnt-3-main-photo {
        width: 250px;
        background-position: center;
        border-radius: 30px 0px;
    }

    #cnt-nav-2 {
        display: none;
    }

    .logo {
        margin-top: unset;
    }

    .websiteName {
        margin-top: 12px;
    }

    #menu-for-devices {
        display: flex;
    }

    .burger {
        display: flex;
        align-items: center;
        z-index: 3;
    }

    .burger_field {
        padding: 10px 8px;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px auto;
        transition: 0.2s;
    }

    .burger_field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger_field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger_field.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg)
    }

    /* like this we can make a new class for burger_field class, and then go
    throw the DOM to the bar class and find bar class children with nth:child.
    So it will work only when burger_field also will have class active*/

    .popup {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        transition: 0.3s;
        top: 0;
        z-index: 2;
        background-color: #1C1B21;
    }

    .popup.open {
        left: 0;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        overflow: auto;
        padding: 40px 0;
        width: 100%;
    }

    .menu>a {
        text-decoration: none;
    }

    .menu-a-main {
        font-family: 'Poppins-SemiBold';
        font-size: 18px;
        color: #fff;
        padding-top: 7px;
    }

    .menu-a-minor {
        font-family: 'Poppins-Regular';
        font-size: 14px;
        color: #fff;
        padding-top: 1px;
    }

    body.noScroll {
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: fixed;
    }
}

@media (max-width:600px) {

    #cnt-2-left,
    #cnt-2-right,
    #cnt-1-3-Sliders,
    .slider,
    #cnt-2-left-1,
    #cnt-2-left-3,
    .cnt-2-left-3-comments,
    #cnt-7 {
        width: auto;
    }

    #cnt-2-left {
        padding-right: 5px;
        padding-left: 5px;
    }

    #cnt-2-left-1 p,
    #cnt-4-right-1 p {
        font-size: 30px;
    }

    #cnt-2-left-3 {
        gap: 15px;
        grid-template-columns: 1fr;
        margin-right: auto;
        margin-left: auto;
    }

    #cnt-audio {
        display: none;
    }

    #cnt-2-right img {
        width: 233px;
        height: 266px;
    }

    .cnt-2-right-img {
        left: -85px;
        right: 0px;
        top: 70px;
        bottom: 0px;
    }

    #cnt-2-right-img-absolute {
        left: -147px;
        top: 30px;
        bottom: 0px;
        right: 0px;
    }

    #cnt-3 {
        margin-top: 453px;
    }

    #cnt-4-right-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cnt-4-right-1 p {
        left: 0;
    }

    #cnt-4-right-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cnt-4-right-3-1 p {
        margin-right: 0px;
    }

    #artist-info {
        display: none;
    }

    #artist-info-for-devices {
        display: flex;
        margin-top: 60px;
        flex-direction: column;
    }

    #artist-bold {
        display: flex;
        justify-content: center;
        flex-direction: unset;
    }

    #artist-regular {
        display: flex;
        justify-content: center;
        flex-direction: unset;
    }

    .artist-p-bold {
        font-size: 16px;
        line-height: 25px;
    }

    .artist-p-regular {
        font-size: 16px;
        line-height: 25px;
        margin-left: 5px;
    }

    #sign {
        margin-top: 60px;
        margin-bottom: 20px;
    }
}

@media(max-width:420px) {
    #audio-player ul li {
        margin: 40px 0;
    }
}

@media (max-width:530px) {
    #cnt-3 {
        display: flex;
        flex-direction: column;
    }

    #cnt-3-main-photo {
        width: 250px;
        height: 380px;
        background-position: top;
        order: -1;
        align-self: center;
    }

    #cnt-2 {
        margin-top: 100px;
    }

    #cnt-3 {
        margin-top: 366px;
    }

    #cnt-4-left {
        width: 260px;
        height: 260px;
        border: 10px solid rgb(122, 102, 204, 0.3);
        border-radius: 50%;
    }

    #cnt-4-left-circlePhoto {
        width: 240px;
        height: 240px;
        background-position: center;
        border: none;
    }

    #forBorder {
        width: 240px;
        height: 240px;
        border: 10px solid rgb(122, 102, 204, 0.6);
        border-radius: 50%;
    }

    #cnt-4-right {
        padding-left: 5px;
    }

    #cnt-5 {
        display: grid;
        grid-template-areas: "img2 img3""img1 img4""imgMid imgMid";
        gap: 10px;
        width: 280px;
    }

    .imgMid img {
        width: 280px;
    }

    .imgMid {
        width: 280px;
    }

    .imgMid p {
        font-size: 16px;
    }

    .img1,
    .img2,
    .img3,
    .img4 {
        width: 135px;
    }

    .img1 img,
    .img2 img,
    .img3 img,
    .img4 img {
        width: 135px;
    }
}

@media (max-width:380px) {
    .slider {
        width: 270px;
        height: 230px;
    }

    .slider {
        margin: 30px 0px 0px 0px;
    }

    .slider1 {
        background-position: right;
    }

    .slider2 {
        background-position: center;
    }

    .slider3 {
        background-position: center;
    }

    .slider-capture p {
        font-size: 14px;
        padding: 15px 14px 15px 14px;
    }

    #cnt-2-left-1 p,
    #cnt-4-right-1 p {
        font-size: 24px;
    }

    #cnt-2-right img {
        width: 206px;
        height: 235px;
    }

    .cnt-2-right-img {
        left: -75px;
        right: 0px;
        top: 70px;
        bottom: 0px;
    }

    #cnt-2-right-img-absolute {
        left: -130px;
        top: 30px;
        bottom: 0px;
        right: 0px;
    }

    .artist-p-bold {
        font-size: 13.5px;
        line-height: 22px;
    }

    .artist-p-regular {
        font-size: 13.5px;
        line-height: 22px;
        margin-left: 5px;
    }

    .social-links2 {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 5.565px solid #2C2C2C;
    }
}